body{
    background-color: #e5e5e5;
}
#first_row{
    padding-top: 1%;
}
#logo{
    height: 60%;
    width: 70%;
}
#register_now{
    text-align: center;
    margin-top: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    border: 0.5px solid silver;
    border-radius: 12px;
}
#signin_form{
    margin-top: 3.5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 0.5px solid silver;
    border-radius: 12px;
}
#registeration_text{
    font-size: 1.5vw;
}
#register_btn{
    margin-top: 4%;
}
#incorect_pass{
    padding-left: 5%;
}